$c-bg: rgb(250, 250, 250);
$c-bg-transparent: rgba(250, 250, 250, 0.5);
$c-bg-dark: rgb(30, 30, 30);
$c-bg-dark-transparent: rgba(30, 30, 30, 0.5);
$c-highlight: rgb(4, 213, 213);
$c-highlight-sub: rgb(239, 184, 3);
$transition-400: 400ms ease-in-out;
$transition-500: 500ms ease-in-out;
