$c-bg: rgb(240, 240, 240);
$c-bg-transparent: rgba(240, 240, 240, 0.9);
$c-bg-dark: rgb(30, 30, 30);
$c-bg-dark-transparent: rgba(30, 30, 30, 0.9);
$c-highlight: rgb(4, 213, 213);
$c-highlight-darker: rgb(0, 158, 158);
$c-highlight-sub: rgb(239, 184, 3);
$transition-400: 400ms ease-in-out;
$transition-500: 500ms ease-in-out;
